body{
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  background: black;
  color: greenyellow;
}

#header{
  position: fixed;
  top: 20px;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 6rem;
}

.link {
  background-color: black;
  color: yellowgreen;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-style: dotted;
  transition: all 0.3s ease;
  display: inline-block;
}

a{
  color: greenyellow;
}

a:hover{
  color: white;
}

.container{
  animation-duration: 3s;
  animation-name: slidein;
text-align: center;
  display: inline-block;
  border-style: dotted;
  background-color: black;
  font-size: 20px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

#footer{
  position: fixed;
  bottom: 20px;
}

canvas {
  margin: 0;
}
