body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: url("pictures/green.jpg");

    line-height: 1.6;
}

.quiz-container {
    background-color: rgb(26, 24, 24);
    border: dashed;
    border-radius: 1px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
}

.quiz-title {
    color: #000000;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: black;
    color: white;
    border: dashed;
    border-color: rgb(15, 90, 0);
    border-radius: 5px;
    cursor: pointer;
}

.option-btn:hover {
    background-color: black;
    color: white;
}

.result {
    margin-top: 20px;
}

.playlist-card {
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.restart-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}